.banner {
  background-color: $color-tertiary;
  min-height: 50px;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;

  @include respond(tab-port) {
    display: flex;
  }

  @include respond(tab-land) {
    height: auto;
  }
}
.banner__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.banner__message {
  color: $color-primary;
  font-size: 2.5rem;
  margin: 0 auto;

  @include respond(tab-land) {
    font-size: 2rem;
  }

  @include respond(desktop) {
    font-size: 1.8rem;
  }

  & .banner__message-link {
    color: $color-grey-dark;
    margin: 0 10px 0 5px;
    text-decoration: underline;
    font-style: italic;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $color-secondary-dark;
    }
  }
}
