.banner {
  background-color: $color-tertiary;
  display: none;

  @include respond(tab-port) {
    display: block;
  }

  @include respond(tab-land) {
    height: auto;
  }
}
.banner__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner__message {
  color: $color-primary;
  font-size: 1.7rem;

  @include respond(tab-land) {
    font-size: 2rem;
  }

  @include respond(desktop) {
    font-size: 1.8rem;
  }
  & .banner__message-link {
    color: $color-grey-dark;
    margin-right: 3px;
    text-decoration: underline;
    font-style: italic;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $color-secondary-dark;
    }
  }
}
