.card-gallery__container {
}

.card-gallery__content {
}

.card-gallery__card {
  position: relative;

  &-content {
    &:hover {
      & > .card-gallery__card-text-area {
        background-color: $color-secondary-light;
        transform: translateX(6px) skew(-14deg, -0deg);
      }
    }
  }
}

.card-gallery__card-text-area {
  position: absolute;
  bottom: 10%;
  left: -0%;
  font-size: 1.5rem;
  background-color: $color-primary-light;
  color: $color-white;
  transform: skew(-14deg, -0deg);
  font-family: $secondary-font-family;
  transition: all 0.2s;
}
.card-gallery__card-title {
  transform: skew(14deg, 0deg);
  color: $color-white;
  font-size: 1.7rem;
}
