footer {
  width: 100%;
  color: $color-white;
  text-align: center;
  background-color: $color-tertiary-dark;

  p {
    font-size: 1em;
    margin: 0;
  }
}

.footer {
  &__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__copyright {
    font-family: $secondary-font-family;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
