.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 12;

  @include respond(tab-land) {
    position: static;
  }
}

header {
  color: $color-white;
  width: 100%;
  background-color: $color-primary;

  @include respond(desktop) {
    display: block;
  }

  .container {
    display: flex;
    justify-content: space-between;
    line-height: 4em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
  }

  p {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
  }
}

.header__container {
  height: 7rem;
  display: flex;
  align-items: center;
  font-family: $secondary-font-family;
  z-index: 12;
  background-color: $color-primary;

  @include respond(desktop) {
    height: 5rem;
    position: static;
  }
}

.header__site-title {
  font-size: 2.3rem;
  display: none;
  padding-left: 16px;
  line-height: 1;
  justify-content: center;
  align-items: center;

  @include respond(tab-port) {
    display: flex;
  }

  @include respond(tab-land) {
    padding-left: 0;
  }
}

.header__logo {
  height: 38px;
  width: 38px;
  position: relative;
  z-index: 2;
  margin-left: 1.5rem;
  margin-bottom: 5px;
  margin-right: 3px;

  @include respond(tab-port) {
    height: 35px;
    width: 35px;
    margin-left: 1.5rem;
    margin-bottom: 5px;
  }

  @include respond(tab-land) {
    height: 35px;
    width: 35px;
  }

  @include respond(desktop) {
    height: 40px;
    width: 40px;
  }
}
