header {
  color: $color-white;
  background-color: $color-primary;

  .container {
    display: flex;
    justify-content: space-between;
    line-height: 4em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
  }

  p {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
  }
}

.header__container {
  height: 7rem;
  display: flex;
  align-items: center;
  font-family: $secondary-font-family;

  @include respond(desktop) {
    height: 5rem;
  }
}

.header__site-title {
  font-size: 2.3rem;
  display: none;
  display: block;
  padding-left: 16px;

  @include respond(tab-port) {
    display: block;
  }

  @include respond(tab-land) {
    padding-left: 0;
  }
}
