.marquee__section {
  margin-top: 55px;
  margin-bottom: 3rem;

  @include respond(tab-port) {
    margin-top: 105px;
  }

  @include respond(tab-land) {
    margin-top: 0px;
    margin-bottom: 5rem;
  }

  @include respond(desktop) {
    margin-bottom: 0;
  }
}

.marquee__container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  @include respond(desktop) {
    height: 43rem;
  }
}

.marquee__body {
  background-position: cover;
  overflow: hidden;
  height: 20vh;

  @include respond(tab-port) {
    height: 411px;
  }
}

.marquee__text-area {
  font-family: $secondary-font-family;
  display: inline-block;
  position: relative;
  left: 0%;
  top: -12%;
  width: 100%;
  margin: 0 auto;
  //   transform: translate(-50%, -50%);
  background-color: $color-secondary;
  color: $color-white;
  padding: 1rem 3rem;
  clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 86%, 0 0);

  @include respond(desktop) {
    width: 50%;
  }
}

.marquee__header-primary {
  font-size: 3.2rem;
  position: relative;
  bottom: 0.2rem;
}

.marquee__header-secondary {
  font-size: 3.5rem;
}
