.clip-marquee {
  clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 86%, 0 0);
}

.marquee__premiere-sponsor {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 150px;

  @include respond(desktop) {
    bottom: 6%;
    width: 280px;
  }
}

.marquee__cookoff-dates {
  padding: 0.5rem 0.6rem;
  color: $color-white;
  background-color: $color-primary-light;
  position: absolute;
  bottom: 0;
  right: 20px;
  margin-right: 1rem;
  transform: skew(-14deg, -0deg);
  width: 137px;
  display: none;

  @include respond(tab-port) {
    width: 150px;
    display: block;
  }

  @include respond(desktop) {
    font-size: 1.7rem;
    bottom: 6%;
    width: 280px;
  }

  .marquee__date-text {
    transform: skew(14deg, 0deg);
    font-size: 1.25rem;

    @include respond(tab-port) {
      font-size: 1.35rem;
    }
  }
}
