.mobile-nav {
  position: fixed;
  height: 0%;
  width: 100vw;
  overflow: hidden;
  transition: all 0.2s ease-out;
  background-color: rgba($color-secondary-light, 0.5);
  z-index: 12;

  &.nav--open {
    height: 100%;
  }
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 12;
  padding: 2rem;
  border: 5px solid $color-tertiary;
  background-color: rgba($color-secondary-light, 1);

  &.nav--open {
  }
}

.mobile-nav__item {
  align-items: center;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-out;
  font-size: 3rem;
  line-height: 1;
  position: relative;
  display: block;
  text-align: left;
  padding: 2.7rem 1.7rem;

  @include respond(tab-land) {
    display: none;
  }
}
