.musician__wrapper {
  margin-top: 2.5rem !important; //override container;
}

.musician__container-top {
  display: flex;
  background-color: $color-tertiary-light;
  font-family: $secondary-font-family;
  height: auto;
  flex-direction: column;
  border-bottom: 5px solid $color-primary-light;
  border-top: 5px solid $color-primary-light;

  @include respond(tab-land) {
    flex-direction: row;
    border: none;
  }

  @include respond(desktop) {
  }
}

.musician__full {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: $color-secondary;
  height: 400px;
  width: auto;
  order: 2;

  @include respond(tab-port) {
    margin-bottom: 0;
  }

  @include respond(tab-land) {
    order: 1;
    height: auto;
    width: 33.3%;
    margin-bottom: 1.5rem;
  }

  &:hover {
    & > .musician__full-description {
      opacity: 1;
      bottom: 0%;
    }

    & > .musician__full-banner {
      background-color: $color-secondary-light;
      transform: translate(-6px) skew(-14deg, -0deg);
    }
  }

  &-banner {
    background-color: $color-primary-light;
    position: relative;
    right: 12%;
    top: 8%;
    transform: skew(-14deg, -0deg);
    width: 75%;
    @apply shadow-md;
    transition: all 0.2s ease-out;

    &-text {
      font-size: 2.7rem;
      color: $color-white;
      transform: skew(14deg, 0deg);
    }
  }
}

.musician__full {
  &-description {
    position: absolute;
    width: 100%;
    bottom: -6%;
    left: 0;
    background-color: rgba($color-tertiary-dark, 0.8);
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.2s ease-out;
    font-family: $secondary-font-family;
    padding: 1rem 0 2rem;
    opacity: 0;
  }

  &-title {
    font-size: 3rem;
  }

  &-description-text {
    font-size: 2rem;
    font-family: $primary-font-family;
  }
}

// musician List and Items
.musician__list {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 1.5rem;

  & > * {
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.musician__description {
  order: 1;
  color: $color-grey-dark-3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4rem;
  height: auto;

  @include respond(tab-land) {
    order: 2;
    width: 66.6%;
    margin: 1.5rem;
    height: auto;
  }

  @include respond(tab-land) {
    height: 300px;
  }

  @include respond(desktop) {
    height: 100%;
  }

  & .p-lead {
    padding: 0 1rem;

    @include respond(tab-port) {
      padding: 0 4rem;
    }

    @include respond(tab-land) {
      padding: 0;
    }
  }
}

.musician__set-time {
  font-family: $primary-font-family;
  position: relative;
  font-size: 2.5rem;
  z-index: 2;
  display: inline-block;
  margin-top: 1.7rem;
  text-align: left;
  margin-bottom: 6rem;

  @include respond(tab-port) {
    font-size: 2.7rem;
    margin-bottom: 3.5rem;
  }

  @include respond(tab-land) {
    margin-bottom: 2rem;
  }

  @include respond(desktop) {
    margin-bottom: 4rem;
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 90%;
    right: 0;
    background-color: $color-secondary-light;
    opacity: 0.4;
    height: 35px;
    width: 97%;
    z-index: -1;
    clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0);

    @include respond(tab-port) {
      right: -5%;
      width: 110%;
    }
  }
}

.musician__website {
  font-family: $primary-font-family;
  font-size: 1.9rem;
  color: $color-white;
  display: block;
  position: relative;
  width: 90%;
  text-align: center;
  z-index: 10;
  transition: all 0.2s ease-out;
  cursor: pointer;
  @apply shadow-md;
  margin: 0 auto;

  @include respond(tab-port) {
    font-size: 2rem;
  }

  @include respond(tab-land) {
    width: 100%;
    font-size: 1.5rem;
  }

  &:hover::before {
    background-color: $color-secondary;
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    background-color: $color-primary-light;
    transform: skew(-14deg, 0deg);
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all 0.2s ease-out;
  }
}
.musician__spotify-player {
  order: 2;
  margin: 1.5rem;
  height: 400px;

  @include respond(tab-land) {
    order: 3;
    width: 33.3%;
    height: auto;
  }
}
.musician__music-video {
  background-color: $color-tertiary-light;
  margin-top: 8rem;
  position: relative;
  height: 200px;
  width: 100%;

  @include respond(tap-port) {
    width: 50%;
    height: 400px;
  }

  @include respond(desktop) {
    height: 800px;
  }
}
