.quick-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @include respond(tab-port) {
    flex-direction: row;
  }
}

.quick-nav__link {
  @apply shadow-md;
  background-color: $color-primary-light;
  color: $color-white;
  transition: all 0.2s;
  transform: skew(-14deg, -0deg);
  margin: 1rem 1rem 2rem;

  &:hover {
    background-color: $color-secondary-light;
  }
}

.quick-nav__text {
  transform: skew(14deg, -0deg);
}
