blockquote::before,
blockquote::after {
  content: none;
  font-family: Arial;
  color: $color-primary-light;
  position: absolute;
  font-size: 6rem;

  @include respond(tab-port) {
    content: '\201C';
  }
}

blockquote::before {
  left: 10px;
  top: 0;
}

blockquote::after {
  right: 10px;
  top: 0;
}
