.tickets-details {
  color: $color-grey-dark-3;
  width: 66.6%;

  &__content {
    padding: 2rem 2.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    width: 80%;
  }

  &__header {
    font-size: 2.3rem;
    font-family: $secondary-font-family;
    margin-bottom: 2rem;
    display: inline-block;
    position: relative;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      top: 90%;
      left: 50%;
      background-color: $color-secondary-light;
      transform: translate(-50%, -50%) skew(-14deg, 0deg);
      opacity: 0.8;
      height: 6px;
      width: 120%;
      z-index: -1;
      @apply shadow-md;
    }
  }

  &__list {
    height: 100%;
  }

  &__item {
    font-family: $primary-font-family;
    list-style-type: none;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: left;
    line-height: 2;

    &-caret {
      margin-right: 1.6rem;
    }
  }

  &__disclaimer {
    font-size: 1.5rem;
    color: $color-grey-dark-3;
    justify-self: flex-end;
  }
  & span {
    background-color: $color-primary;
    color: $color-white;
    padding: 0.3rem 0.6rem;
    @apply shadow-md;
    @apply rounded-lg;
    font-size: 1.4rem;
  }
}

.tickets-form {
  width: 33.3%;
  margin: 0 auto;
  padding: 2rem 5rem 4rem;
  @apply shadow-md;
  background-color: $color-tertiary-light;
  color: $color-grey-dark-3;

  & * {
    box-sizing: border-box;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__header {
    font-size: 2.3rem;
    font-family: $secondary-font-family;
    margin-bottom: 2rem;
  }

  &__label {
    font-size: 1.5rem;
    font-family: $secondary-font-family;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  &__input {
    margin-bottom: 2rem;
    display: block;
    height: 32px;
    padding: 1.5rem 1rem;
    width: 100%;
    border: none;
    font-size: 1.3rem;
    @apply shadow-sm;

    &:focus {
      outline: 1px solid rgba($color-primary-light, 0.5);
      @apply shadow-inner;
    }
  }

  &__submit-btn {
    display: block;
    margin: 20px auto 0;
    border-radius: 25px;
    border: none;
    color: $color-white;
    font-weight: 700;
    @apply shadow-md;
    background-color: $color-primary;
    padding: 0.5rem 1.6rem;
    font-size: 2rem;
    font-family: $secondary-font-family;
    transition: all 0.2s;

    &:hover {
      background-color: $color-secondary-light;
    }
  }
}
