@import "utilities/__utilities.scss";
@import "components/__components";
@import "pages/__pages";

body {
  font-family: $primary-font-family;
  padding: 0;
  margin: 0;
  background-image: url(../images/paper-bg.jpg);
  background-size: 100%;
  background-repeat: repeat;
  @apply text-gray-dark;
}

// Keep Mobile Phone from zooming in on input fields
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
