#hamburger {
  position: relative;
  width: 45px;
  height: 40px;
  padding: 1rem;
  top: 3px;
  margin: 0 auto;
  transition: all 0.5s linear;
  cursor: pointer;

  @include respond(tab-land) {
    display: none;
  }
}

#hamburger span {
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 100%;
  background: $color-white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  top: 0;
  transform: rotate(0deg);
  transition: all 0.25s linear;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2) {
  top: 15px;
  left: 0px;
}

#hamburger span:nth-child(3) {
  top: 30px;
}

#hamburger.open span:nth-child(1) {
  top: 16px;
  transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger.open span:nth-child(3) {
  top: 16px;
  transform: rotate(-135deg);
}
