#hamburger {
  width: 45px;
  height: 40px;
  padding: 1rem;
  position: relative;
  top: 3px;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  @include respond(tab-land) {
    display: none;
  }
}

#hamburger span {
  display: inline-block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $color-white;
  border-radius: 9px;
  opacity: 1;
  left: 0px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2) {
  top: 15px;
  left: 0px;
}

#hamburger span:nth-child(3) {
  top: 30px;
}

#hamburger.open span:nth-child(1) {
  top: 16px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger.open span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
