body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

h3,
h4,
h5,
h6 {
  font-family: $primary-font-family;
}

h1,
h2,
p,
div,
ul,
li,
ol {
  font-family: $secondary-font-family;
}


.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.p-lead {
  font-size: 2.2rem;
  @apply leading-loose;
  margin-bottom: 1.6rem;
  padding: 0.5rem 1rem 2rem;

  @include respond(tab-land) {
    padding: 0.5rem 1rem;
  }
}
