body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font-family;
}

p,
div,
ul,
li,
ol {
  font-family: $secondary-font-family;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.3rem;
}

hr {
  margin-bottom: 2rem;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.p-lead {
  font-size: 2.2rem;
  @apply leading-loose;
  margin-bottom: 1.6rem;
  padding: 0.5rem 1rem 2rem;

  @include respond(tab-land) {
    padding: 0.5rem 1rem;
  }
}
